<%- include("./body/header") %>

<div class="container">
      <nav class="navbar navbar-light bg-light mx-4" >
            <a class="navbar-brand" id="nav-title" href="/">Todo App</a>
      </nav>

      <div class="container">
            <form action="/add/todo" method="POST" class="d-flex">
                  <input type="text" name="todo" class="form-control" placeholder="Enter Todo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-4">
            </form>
            <ul class="list-group my-5">
                  <% todo.forEach(todos => { %>
                        <li class="list-group-item my-1"><%= todos.todo %><a href="/edit/todo/<%= todos._id %>" class="btn btn-success btn-sm mx-2">Edit</a><a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm mx-2" >Delete</a></li>
                  <% }) %> 
            </ul>
      </div>
</div> 

<%- include("./body/footer") %>